<p>
<strong>Sir Hywel ap Iorwerth</strong> KOBC MBE PC MP<strong>, 1st Earl of Caernarfon</strong> (born 1954) is a British politician
who has served as Speaker of the House of Commons and Lords Speaker since the 6th of July 2021 and as Member of Parliament (MP)
for Dwyfor Meirionnydd since from the same date. Before his election as speaker, he was the Chair of Ways and Means and a crossbencher in the House of Lords.
</p>

<p>
He is the younger brother of the current Language Commissioner of the United Kingdom and former MP for Wales, <a href="?char=Llywelyn ap Iorwerth">Sir Llywelyn ap Iorwerth</a>.
</p>

<h2>Political Career</h2>
<h3>Early Career</h3>

<h3>Frontbench MP</h3>
The brother of the 1st Earl of Caerarfon, Sir Llywelyn ap Iorwerth, retired as an MP for Wales and as a minister in the Government.
The 1st Earl of Caernarfon was later sworn in as the new MP for Wales and assumed his brother's former offices.
He joined the Liberal Democats a couple of days later.

<h3>House of Lords</h3>
Following some internal fighting in the Government and the Liberal Democrats, on the 8 of May the 1st Earl of Caernarfon announced in a statement in the House of Commons his resignation as a member of the Government, member of the Liberal Democrats, and as an MP for Wales.
The 1st Earl of Caerarfon was granted a peerage in May 2021 and subsequently took his place in the House of Lords as a cross-bencher.

<h3>Chair of Ways and Means</h3>
Folliwing the resignation of <a href="?char=Nicholas Clack">Sir Nicholas Clack</a> on the 10th of May 2021, the 1st Earl of Caerarfon was chosen by the Speaker to be the next Chair of Ways and Means.
During his short tenure as the Chair of Ways and Means he worked on digitizing certain procedures of the Houses of Parliament.

<h3>Speaker of the House</h3>
The 1st Earl of Caernarfon was elected the Speaker of the House on the 6th of July 2021, succeeding <a href="?char=Zachary Henderson">Sir Zach Henderson</a>.
He was later sworn in as the Member of Parliament for Dwyfor Meirionnydd.


<h2>Personal Life</h2>

The 1st Earl of Caernarfon was born on the 19th of September 1954 to the Reverend Iorwerth ap Dafydd and Kelynen Trelawney in Bangor.
He grew up in the little village Llanystumdwy in Gwynedd.
He is the younger brother of Sir Llywelyn ap Iorwerth.
He is married to his childhood girlfrind Blodeuwedd ferch Iwan and they have 3 sons together; Dafydd, Llwyd, and Sior.
