<p>
<strong>Sir Llywelyn ap Iorwerth</strong> is a former British politician,
Deputy Prime Minister, Chancellor of the Exchequer, Secretary of State for Justice,
Secretary of State for Wales, Secretary of State for Scotland, Secretary of State for Cornwall, Member of Parliament for Wales, and Member of Parliament for Ceredigion.
He is the current Language Commissioner of the United Kingdom.
</p>
<p>
He is the brother of <a href="?char=Hywel ap Iorwerth">Sir Hywel ap Iorwerth</a>, 1st Earl of Caernarfon.
</p>

<h2>Career</h2>
<h3>Chair of Cymdeithas yr Iaith</h3>
<h3>Member of Parliament</h3>
<h4>Languages of the UK Act 2020</h4>
<h4>Federalisation Bill</h4>
<h4>Chancellor of the Exchequer</h4>
<h4>Secretary of State for Wales</h4>
<h3>Language Commissioner</h3>
<p>
Following his resignation announcement, he was appointed the first Language Commissioner of the United Kingdom, a position that he himself set up through that Languages of the UK Act 2020.
</p>

<h2>Personal Life</h2>
<p>
Ap Iorwerth married Gwenno Davies on 13 August 1968.
Together they have one son, Professor Owain ap Llywelyn, who is a professor of Lingustic at the University of Bangor.
He also has a grandson called Padrig ap Owain.
He is the brother of the current speaker, Sir Hywel ap Iorwerth, 1st Earl of Caernarfon.
</p>